Adafruit-Blinka==8.28.1
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-framebuf==1.6.5
adafruit-circuitpython-requests==2.0.3
adafruit-circuitpython-ssd1306==2.12.16
adafruit-circuitpython-typing==1.9.6
Adafruit-PlatformDetect==3.57.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.8.0
args==0.1.0
clint==0.5.1
Pillow==10.1.0
pyftdi==0.55.0
pyserial==3.5
pyusb==1.2.1
typing_extensions==4.9.0
